﻿@page "/update-teacher/{teacherId:int}"
@inject HttpClient http
@inject NavigationManager uriHelper
@attribute [Authorize]

<h3>Edit</h3>
<TeachersForm ButtonText="Edit Person"
              Teacher="teacher"
              OnValidSubmit="@EditPerson" />


@code {
    [Parameter] public int teacherId { get; set; }
    EnTeacherDto teacher = new EnTeacherDto();

    protected async override Task OnParametersSetAsync()
    {
        var apiRes = await http.GetFromJsonAsync<EnvelopeDto<EnTeacherDto>>($"teachercrud/{teacherId}");
        teacher = apiRes.Result;
    }

    async Task EditPerson()
    {
        await http.PutAsJsonAsync("teachercrud/update", teacher);
        uriHelper.NavigateTo("teacher-list");
    }
}
