﻿@page "/teacher-list"
@attribute [Authorize]
@inject HttpClient Http
@inject IJSRuntime Js

<h1>Teachers List</h1>

<div>
    <a class="btn btn-success" href="create-teacher">Crear</a>
</div>

@if (teachers == null)
{
    <p><em>Loading...</em></p>
}
else if (teachers.Count() == 0)
{
    <text>No hay Teachers en la base de datos</text>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Id</th>
                <th>Name</th>
                <th>Age</th>
                <th>BirthDate</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var teacher in teachers)
            {
                <tr>
                    <td>
                        <a class="btn btn-success" href="update-teacher/@teacher.Id">Editar</a>
                        <button class="btn btn-danger" @onclick="()=>DeleteTeacher(teacher.Id)">Borrar</button>
                    </td>
                    <td>@teacher.Id</td>
                    <td>@teacher.Name.Value</td>
                    <td>@teacher.Age.Years</td>
                    <td>@teacher.Age.BirthDate</td>
                </tr>
            }
        </tbody>
    </table>
}


@code {
    List<EnTeacherDto> teachers { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            await LoadTeachers();
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }

    async Task LoadTeachers()
    {
        var apiRes = await Http.GetFromJsonAsync<EnvelopeDto<List<EnTeacherDto>>>("teachercrud");
        teachers = apiRes.Result;
    }

    async Task DeleteTeacher(int teacherId)
    {
        var teacher = teachers.First(x => x.Id == teacherId);
        if (await Js.InvokeAsync<bool>("confirm", $"Eliminar {teacher.Name}?"))
        {
            await Http.DeleteAsync($"teachercrud/{teacherId}");

            await LoadTeachers();
        }


        ////await js.DisplayMessage("my title", "My message", SweetAlertMessageType.success);
        //var personSelected = people.First(x => x.Id == personId);
        //if (await js.Confirm("Confirm", $"Do you want to delete {personSelected.Name}?", SweetAlertMessageType.question))
        //{
        //    await http.DeleteAsync($"api/people/{personId}");
        //    await LoadPeople();
        //}
    }

}


