﻿<EditForm Model="Teacher" OnValidSubmit="OnValidSubmit">
    <div class="form-group">
        <label>Name:</label>
        <div>
            <NameWidget @bind-Name="Teacher.Name" />
        </div>
    </div>
    <div class="form-group form-markdown-container">
        <div>
            <label>Birth Date:</label>
            <div>
                <SfDateTimePicker @bind-Value="@MyProperty" />
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-success">
        @ButtonText
    </button>
</EditForm>

@code {
    [Parameter] public EnTeacherDto Teacher { get; set; }

    public DateTime? MyProperty
    {
        get => Teacher?.Age?.BirthDate;
        set
        {
            if (Teacher.Age is null)
                Teacher.Age = new();
            Teacher.Age.BirthDate = (DateTime)value;
        }
    }

    [Parameter] public string ButtonText { get; set; } = "Save Teacher";
    [Parameter] public EventCallback OnValidSubmit { get; set; }
}