﻿@page "/create-teacher"
@inject HttpClient http
@inject NavigationManager uriHelper
@attribute [Authorize]

<h3>Create</h3>
<TeachersForm ButtonText="Create Person"
              Teacher="teacher"
              OnValidSubmit="@CreateTeacher" />

@code {
    EnTeacherDto teacher = new EnTeacherDto();
    async Task CreateTeacher()
    {
        await http.PostAsJsonAsync("teachercrud/create", teacher);
        uriHelper.NavigateTo("teacher-list");
    }
}