﻿@page
@model LogoutModel
@inject IHtmlLocalizer<SharedResource> LL

@{
    ViewData["Title"] = LL["Cerrar Sesión"];
}

<header>
    <h1>@ViewData["Title"]</h1>
    @{
        if (User.Identity.IsAuthenticated)
        {
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit" class="nav-link btn btn-link text-dark">@LL["Clic para cerrar sesión"]</button>
            </form>
        }
        else
        {
            <p>@LL["Usted ha cerrado la sesión exitosamente!"]</p>
        }
    }
</header>