﻿@page
@model RegisterConfirmationModel
@inject IHtmlLocalizer<SharedResource> LL

@{
    ViewData["Title"] = LL["Confirmación de registro"];
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
        <p>
            @LL["Esta aplicación no tiene un servidor de correo. Por favor haga clic <a id=\"confirm - link\" href=\"@Model.EmailConfirmationUrl\">aquí</a> para confirmar su cuenta."]
        </p>
    }
    else
    {
        <p>
            @LL["Por favor revise su correo electrónico y confirme su cuenta."]
        </p>
    }
}
